<style>
#header {
  margin: 30vh auto 0;
  position: relative;
  max-width: 600px;
}
#label {
  font-size: 30px;
  font-family: Arial;
}
#header img.logo {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
#header img#spinner {
  position: absolute;
  top: 5px;
  left: -60px;
  display: none;
}
#link_holder {
  padding-top: 30px;
  clear: left;
  text-align: center;
  display: none;
}
#link_button {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 50px 0 0;
}
#link {
  color: #444;
  text-decoration: none;
}
#link_button.ready {
  color: #444;
  font-size: 20px;
  text-decoration: none;
  background: #d1edff;
  border: 3px solid #c44;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 50px 0 0;
}
#link_button.ready:hover {
  color: #444;
  border-color: #a44;
  background: #a4dbff;
}
#link_button.ready #link {
  cursor: pointer;
}
</style>
<div id='header'>
  <img class='logo' src="/logo-<%= @year %>.png" onerror="this.src='/logo.png';" />
  <img id='spinner' src="https://s3.amazonaws.com/coughdrop/icons/ripple.svg" />
  AAC in the Cloud Presentation Session
  <div id='label'>Loading Session Information...</div>
  <div id='time'></div>
  <div id='link_holder'>
    <div id='link_button'>
      <a id='link'></a>
    </div>
  </div>
</div>
<script>

var id = "<%= ENV['DOC_ID'] %>";
var cell = "<%= params['cell'] %>";
var dom = {};
['label', 'link', 'link_button', 'link_holder', 'time', 'spinner'].forEach(function(key) {
  dom[key] = document.getElementById(key);
});
var err = function(str) {
  dom.label.classList.add('error');
  dom.label.innerHTML = str;
};
var check = function() {
  dom.spinner.style.display = 'inline';
  doc_lookup(id, cell, function(res) {
    setTimeout(function() {
      dom.spinner.style.display = 'none';
    }, 800);
    var opts = {};
    opts.time = res.date;
    opts.session = res.session_name;
    opts.link = res.hangouts_link;
    if(!res.code) {
      if(res.values && res.values[0] && res.values[0].length) {
        opts.time = opts.time || res.values[0][0];
        opts.session = opts.session || res.values[0][res.values[0].length - 1];
      }
      if(res.values && res.values[1] && res.values[1].length) {
        opts.link = opts.link || res.values[1][res.values[0].length - 1];
      } 
    }
    if(opts.link) {
      dom.loaded = true;
    }
    console.log(res);
    console.log(opts);
    dom.label.classList.remove('error');
    dom.label.innerText = opts.session;
    dom.time.innerText = opts.time;
    dom.link_holder.style.display = 'block';
    if(opts.link) {
      dom.link.href = opts.link;
      dom.link.innerHTML = "<b>Your Session is Ready!</b><br/>Click here to join the Presentation on Google Hangouts";
      dom.link_button.classList.add('ready');
      dom.link.target = '_blank';
    } else {
      dom.link.innerText = "Welcome to the Waiting Room! Your Session isn't ready yet. A link to the session's Google Hangout will load about 10 minutes before the session starts..";
    }
    setTimeout(check, 15000);
  }, function() {
    setTimeout(function() {
      dom.spinner.style.display = 'none';
    }, 800);
    err('Data not available,<br/>please try reloading');
    setTimeout(check, 30000);
  });
};
check();
</script>