<style>
body * {
  box-sizing: border-box;
}
#code_entry {
  font-family: Arial;
  width: 500px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 30px calc(50vw - 250px);
  text-align: left;
  padding: 10px; 20px;
}
#code_entry img {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin: 0 10px 20px 0;
}
.item {
  font-size: 18px;
  margin-bottom: 20px;
}
.item input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 30px;
  width: 350px;
}
.item span {
  display: block;
  margin-bottom: 5px;
}
.item button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}
.item button:focus {
  background: #ccc;
}
#attendance .session {
  margin: 10px 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#attendance .session .name {
  display: block;
}
#attendance .session .notes {
  color: #444;
  margin-top: 5px;
}
#attendance .session .session_note {
  color: #aaa;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
</style>
<div id='code_entry'>
  <img src='/logo.png'>
  <h1>AAC in the Cloud<br/>Attendance Credits</h1>
  <div style='clear: left;'></div>
  <p style='line-height: 20px; margin-bottom: 30px;'>Thanks for joining us for AAC in the Cloud! Attendance certificates are not certified by any organization, but you can submit them for maintenance or activity hours to your various organizations. Please enter the following information to generate a certificate of attendance based on activity in the last 60 days:
  </p>
  <form action='/surveys/certificate' method='POST'>
    <div class='item'>
      <span>Your Name:</span>
      <input id='name' type='text' name='name' placeholder='Full Name'/>
    </div>
    <div class='item'>
      <span>Your Email:</span>
      <input id='email' type='text' name='email' placeholder='Email from Surveys' />
    </div>
    <div class='item'>
      <span>Include Sessions Viewed in the Last:</span>
      <input id='days' type='text' style='width: 150px;' name='days' placeholder='# of Days to Look Back for Survyes' value='60' />
      <span style='font-size: 30px; display: inline;'>days</span>
    </div>
    <input type='hidden' id='a_token' name='authenticity_token' value='<%= form_authenticity_token %>' />
    <div class='item'>
      <button id='submit' type='submit' style='height: 70px; margin-bottom: 3px;'>Generate Certificate</button>
      <button id='show' type='button'>Show Attendance Details</button>
    </div>
    <div id='attendance' style='display: none;'>
      <h3>Attendance Details for <span id='attendance_email'>User</span></h3>
      <div id='session' class='session' style='display: none;'>
        <a class='name'></a>
        <div class='notes'>
          <span class='hours'></span>,
          attended <span class='attended'></span>
          (rated <span class='score'></span>/5)
        </div>
        <div class='session_note' style='display: none;'></div>
      </div>
    </div>
  </form>
</div>
<script>
document.getElementById('show').addEventListener('click', function(event) {
  event.preventDefault();
  var sessions = document.getElementsByClassName('session');
  for(let session of sessions) {
    if(session.getAttribute('id') != 'session') {
      session.parentNode.removeChild(session);
    }
  }
  var opts = {
    name: document.getElementById('name').value,
    email: document.getElementById('email').value,
    days: document.getElementById('days').value,
    authenticity_token: document.getElementById('a_token').value
  };
  // get attendance details instead of generating certificate
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if(this.readyState == 4 && this.status == 200) {
      res = JSON.parse(this.responseText);
      document.getElementById('attendance_email').innerText = opts.email;
      console.log("stats results", res);
      var session_template = document.getElementById('session');
      for(let session of res) {
        var elem = session_template.cloneNode(true);
        elem.style.display = 'block';
        elem.removeAttribute('id');
        var date = new Date(session.attended * 1000);
        var date_string = date.toDateString();

        elem.getElementsByClassName('name')[0].innerText = session.session_name;
        elem.getElementsByClassName('name')[0].setAttribute('href', session.vide_link);
        var hours = (session.hours || 1.0) + (session.hours == 1.0 ? ' credit' : 'credits');
        elem.getElementsByClassName('hours')[0].innerText = hours;
        elem.getElementsByClassName('attended')[0].innerText = date_string;
        elem.getElementsByClassName('score')[0].innerText = session.score;
        if(session.session_note) {
          elem.getElementsByClassName('session_note')[0].innerText = session.session_note;
          elem.getElementsByClassName('session_note')[0].style.display = 'block';
        }
        document.getElementById('attendance').appendChild(elem);
      }
      document.getElementById('attendance').style.display = 'block';
    } else if(this.readyState == 4) {
      alert('Session Failed to Submit');
    }
  };
  var path = "/surveys/stats";
  xhr.open('POST', path, true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify(opts));
});
</script>