<style>
body * {
  box-sizing: border-box;
}
#code_entry {
  font-family: Arial;
  width: 500px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 30px calc(50vw - 250px);
  text-align: left;
  padding: 10px; 20px;
}
#code_entry img {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin: 0 10px 20px 0;
}
.item {
  font-size: 18px;
  margin-bottom: 20px;
}
.item input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 30px;
  width: 350px;
}
.item span {
  display: block;
  margin-bottom: 5px;
}
.item button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 400px;
}
.item button:focus {
  background: #ccc;
}
</style>
<div id='code_entry'>
  <img src='http://i.imgur.com/ndewC14.png'/>
  <h1>AAC in the Cloud<br/>Attendance Credits</h1>
  <div style='clear: left;'></div>
  <p>AAC in the Cloud attendance certificates are not certified by any organization, but you can submit them for maintenance or activity hours to your various organizations. Please enter the following information to generate a certificate of attendance based on activity in the last 60 days:
  </p>
  <form action='/surveys/certificate' method='POST'>
    <div class='item'>
      <span>Your Name:</span>
      <input id='email' type='text' name='name' placeholder='Full Name'/>
    </div>
    <div class='item'>
      <span>Your Email:</span>
      <input id='email' type='text' name='email' placeholder='Email from Surveys' />
    </div>
    <div class='item'>
      <span>Include Sessions Viewed in the Last:</span>
      <input id='days' type='text' style='width: 150px;' name='days' placeholder='# of Days to Look Back for Survyes' value='60' />
      <span style='font-size: 30px; display: inline;'>days</span>
    </div>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
    <div class='item'>
      <button id='submit' type='submit'>Generate Certificate</button>
    </div>
  </form>
</div>
